<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xdj.androiddemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".broadcastreceiver.BroadcastReceveierActivity"
            android:label="@string/title_activity_broadcast_receveier"/>
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:label="@string/title_life_cycle_activity"/>
        <activity
            android:name=".toolbar.ToolbarActivity"
            android:label="@string/title_activity_toolbar"/>

        <!-- <receiver -->
        <!-- android:name=".broadcastreceiver.SystemBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- &lt;!&ndash; 监听网络变化&ndash;&gt; -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name=".toolbar.ToolbarSlidingTabActivity"
            android:label="@string/title_activity_toolbar_sliding_tab"/>
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:label="@string/title_activity_view_pager"/>
        <activity
            android:name=".toolbar.ToolbarFadeInActivity"
            android:label="@string/title_activity_toolbar_fade_in"/>
        <activity
            android:name=".statusbar.StatusBarActivity"
            android:label="@string/title_activity_status_bar"/>
        <activity
            android:name=".notification.NotificationActivity"
            android:label="@string/title_activity_notification"/>
        <activity
            android:name=".customview.CustomViewActivity"
            android:label="@string/title_activity_custom_view"/>
        <activity
            android:name=".handle.HandleActivity"
            android:label="@string/title_activity_handle"/>
        <activity
            android:name=".frgament.FragmentActivity"
            android:label="@string/title_activity_fragment"/>
        <activity
            android:name=".volley.VolleyActivity"
            android:label="@string/title_activity_volley"/>
        <activity
            android:name=".popupwindow.PopupWindowActivity"
            android:label="@string/title_activity_popup_window"/>
        <activity
            android:name=".vitamio.MediaPlayerActivity"
            android:label="@string/title_activity_vitamio"/>
        <activity android:name=".fresco.FrescoActivity"/>
        <activity android:name=".glide.GlideActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".retrofitsample.RetrofitActivity"/>
        <activity android:name=".wheelview.WheelViewActivity"/>
        <activity android:name=".recyclerviewsample.RecyclerViewActivity"/>
        <activity android:name=".recyclerviewsample.RecyclerGridActivity"/>
        <activity android:name=".reflact.ReflactActivity"/>
        <activity
            android:name=".supportdesign.CoordinatorLayoutPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".supportdesign.CoordinatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".supportdesign.CoordinatorNestedPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".cardview.CardViewActivity"/>
        <activity
            android:name=".event.EventActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".layout.LayoutActivity"/>
        <activity android:name=".listview.ListViewActivity"/>
        <activity android:name=".tipview.TipViewActivity"/>
        <activity android:name=".recyclerviewsample.ScrollRecyclerActivity"/>
        <activity android:name=".download.DownloadManagerActivity"/>
        <activity android:name=".dagger.DaggerActivity"/>
        <!--<activity-->
            <!--android:name=".Main2Activity"-->
            <!--android:label="@string/title_activity_main2"-->
            <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
    </application>

</manifest>