<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xdj.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.xdj.androiddemo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.xdj.androiddemo.broadcastreceiver.BroadcastReceveierActivity"
            android:label="@string/title_activity_broadcast_receveier" />
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:label="@string/title_life_cycle_activity" />
        <activity
            android:name="com.example.xdj.androiddemo.toolbar.ToolbarActivity"
            android:label="@string/title_activity_toolbar" />

        <!-- <receiver -->
        <!-- android:name=".broadcastreceiver.SystemBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- &lt;!&ndash; 监听网络变化&ndash;&gt; -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity
            android:name="com.example.xdj.androiddemo.toolbar.ToolbarSlidingTabActivity"
            android:label="@string/title_activity_toolbar_sliding_tab" />
        <activity
            android:name="com.example.xdj.androiddemo.viewpager.ViewPagerActivity"
            android:label="@string/title_activity_view_pager" />
        <activity
            android:name="com.example.xdj.androiddemo.toolbar.ToolbarFadeInActivity"
            android:label="@string/title_activity_toolbar_fade_in" />
        <activity
            android:name="com.example.xdj.androiddemo.statusbar.StatusBarActivity"
            android:label="@string/title_activity_status_bar" />
        <activity
            android:name="com.example.xdj.androiddemo.notification.NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name="com.example.xdj.androiddemo.customview.CustomViewActivity"
            android:label="@string/title_activity_custom_view" />
        <activity
            android:name="com.example.xdj.androiddemo.handle.HandleActivity"
            android:label="@string/title_activity_handle" />
        <activity
            android:name="com.example.xdj.androiddemo.frgament.FragmentActivity"
            android:label="@string/title_activity_fragment" />
        <activity
            android:name="com.example.xdj.androiddemo.volley.VolleyActivity"
            android:label="@string/title_activity_volley" />
        <activity
            android:name="com.example.xdj.androiddemo.popupwindow.PopupWindowActivity"
            android:label="@string/title_activity_popup_window" />
        <activity
            android:name="com.example.xdj.androiddemo.vitamio.MediaPlayerActivity"
            android:label="@string/title_activity_vitamio" />
        <activity android:name="com.example.xdj.androiddemo.fresco.FrescoActivity" />
        <activity android:name="com.example.xdj.androiddemo.glide.GlideActivity" />
        <activity android:name="com.example.xdj.androiddemo.webview.WebViewActivity" />
        <activity android:name="com.example.xdj.androiddemo.retrofitsample.RetrofitActivity" />
        <activity android:name="com.example.xdj.androiddemo.wheelview.WheelViewActivity" />
        <activity android:name="com.example.xdj.androiddemo.recyclerviewsample.RecyclerViewActivity" />
        <activity android:name="com.example.xdj.androiddemo.recyclerviewsample.RecyclerGridActivity" />
        <activity android:name="com.example.xdj.androiddemo.reflact.ReflactActivity" />
        <activity
            android:name="com.example.xdj.androiddemo.supportdesign.CoordinatorLayoutPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.xdj.androiddemo.supportdesign.CoordinatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.xdj.androiddemo.supportdesign.CoordinatorNestedPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.xdj.androiddemo.cardview.CardViewActivity" />
        <activity
            android:name="com.example.xdj.androiddemo.event.EventActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".layout.LayoutActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".tipview.TipViewActivity" />
        <activity android:name=".recyclerviewsample.ScrollRecyclerActivity" />
    </application>

</manifest>
